
<div class="container mt-4">
    <form method="get" asp-action="JobList" class="form-inline">
        <div class="input-group">
            <input name="Place" type="text" class="form-control" placeholder="City">
            <input name="JobName" type="text" class="form-control" placeholder="Job Name">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
       
    </form>
</div>




<footer class="footer bg-light py-4">
    <div class="container text-center">
        <span>&copy; 2023 Your Website</span>
    </div>
</footer>