@model Job

<h2 class="text-primary text-center pt-2">@ViewBag.Method a Job</h2>
<form method="post">
    <input hidden asp-for="Id" />
    <input hidden asp-for="EmployerId" />
    <div class="row">
        <div class="col-6">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="Wage" class="form-label"></label>
            <input asp-for="Wage" class="form-control" />
            <span asp-validation-for="Wage" class="text-danger"></span>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <label asp-for="Region" class="form-label"></label>
            <input asp-for="Region" class="form-control" />
            <span asp-validation-for="Region" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="City" class="form-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label asp-for="TimeType" class="form-label"></label>
            <select asp-for="TimeType" class="form-select" asp-items="ViewBag.JobTimeTypes">
                <option disabled selected>--Select Option--</option>
            </select>
            <span asp-validation-for="TimeType" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="EducationRequired" class="form-label"></label>
            <select asp-for="EducationRequired" class="form-select" asp-items="ViewBag.EducationTypes">
                <option disabled selected>--Select Option--</option>
            </select>
            <span asp-validation-for="EducationRequired" class="text-danger"></span>
        </div>
    </div>


    <label asp-for="Description"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span class="text-danger" asp-validation-for="Description"></span>

    <button class="btn-success btn-lg btn mt-3" type="submit">@ViewBag.Method</button>

</form>

@section Scripts{
    <partial name="_ValidationPartial.cshtml" />
}
